<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">
		<link rel="me" href="https://twitter.com/jarenado" />
		<link rel="me" href="https://github.com/jarenado" />

		{#- Webmentions-#}
		<link rel="pingback" href="https://webmention.io/josearenado.com/xmlrpc" />
		<link rel="webmention" href="https://webmention.io/josearenado.com/webmention" />

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		{#- <meta name="generator" content="{{ eleventy.generator }}"> #}
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

    <!-- Milligram CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

    <link rel="stylesheet" href="/src/assets/css/index.css">
    <!-- You should properly set the path from the main file. -->
    <style>
      header {
        background: lightsteelblue;
      }
      h1 {
        margin-bottom: 0;
        padding-bottom: 0;
      }
      .container {
        <!--border: thin solid black;-->
      }
      .nav ul {
        padding: 0;
      }
      .nav ul li {
        display: inline;
        padding: 0;
        margin: 0;
      }
      .nav li a {
        padding: 0;
        margin: 0;
        color: red;
        font-size: 1.5em;
      }
    </style>
	</head>
  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="column">
            <h1> {{metadata.title}} </h1>
            <div class="nav">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/now">Now</a></li>
                <li><a href="/uses">Uses</a></li>
                <li><a href="/blogroll">Blogroll</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <main>
        {{ content | safe}}
      </main>
    </div>
  </body>
</html>
