---
layout: base.njk
---

<div>
  <style>
  .carousely {
    width: 100%;
    border-radius: 7px;
    margin-top: 50px;
  }
  .thumbs {
    display: block;
    width: 10%;
    max-width: 15%;
  }
  .thumbs.column {
    max-width: 23% !important;
    padding-top: 5px;
  }
  .thumbs img {
    display: block;
    margin: 10px;
    border-radius: 7px;
    opacity: 0.7;
  }
  .carousely figure {
    position: relative;
    border-radius: 7px;
  }
  </style>

  <div class="container carousely">
    {{content | safe}}
  </div>
</div>
