<footer>
	<ul class="social-media">
		<li><a rel="me" href="https://twitter.com/jarenado" /><i class="nf nf-md-twitter"></i></a></li>
		<li><a rel="me" href="https://github.com/jarenado" /><i class="nf nf-md-github"></i></a></li>
		<li><a rel="me" href="https://mastodon.social/@vidalstat"><i class="nf nf-md-mastodon"></i></a></li>
		<li><a rel="me" href="https://www.instagram.com/josearenado/"><i class="nf nf-md-instagram"></i></a></li>
		<li><a rel="me" href="mailto:me@josearenado.com"><i class="nf nf-md-email_outline"></i></a></li>
		<li><a rel="me" href="https://josearenado.com/feed/feed.xml"><i class="nf nf-oct-rss"></i></a></li>
		<li><a rel="me" href="https://www.linkedin.com/in/josearenado/"><i class="nf nf-fa-linkedin"></i></a></li>
		{#- {% include "layouts/h-card.njk" %} -#}
	</ul>

</footer>
