
<div class="post-section">
  <h3>Spelling Bee</h3>
  <ul class="postlist">
  {{bees|dump}}
  <span><strong>{{bees.yesterday.centerLetter}}</strong></span>
  {%- for bee in bees.yesterday.outerLetters -%}
    <span>{{bee}}</span>
  {%- endfor -%}
  <h2>Pangrams</h2>
  {%- for pangram in bees.yesterday.pangrams -%}
  <li>{{pangram}}</li>
  {%- endfor -%}

  <h2>Answers</h2>
  {%- for answer in bees.yesterday.answers -%}
  <li>{{answer}}</li>
  {%- endfor -%}
  </ul>
  <ul>
  </ul>
</div>

<div class="post-section">
  <h3>Featured Posts</h3>
  <ul class="postlist">
  {{collections|log}}
  {%- for post in collections.featured | reverse -%}
  <li class="post">
    <a href="{{post.url}}">{{post.data.title}} | ({{post.date.toUTCString()}})</a>
    <p>{{post.data.description}}</p>
  </li>

  {%- endfor -%}
  </ul>
</div>

<div style="width: 95%;" class="post-section">
  <h3>Insta</h3>
  <div class="media-slider snaps-inline">
  {%- for post in collections.insta -%}
    <div class="media-element">
      <a href="{{post.data.url}}"> <img src="/assets/img/{{post.data.imageURL}}" /></a>
    </div>
  {%- endfor -%}
  </div>
</div>

{#-

<div>
  <h3>Nasa APOD</h3>
  <div class="media-slider snaps-inline">
    <div class="media-element">
      <a href="{{apod.hdurl}}"> {% image apod.hdurl ,'', "(max-width: 1em) 10vw, 20vw" %} </a>
      <caption>{{apod.copyright}} {{apod.date}}</caption>
    </div>
  </div>
</div>
#}

<div class="post-section">
  <h3>All</h3>
  <ul class="postlist">
  {%- for post in collections.posts | reverse -%}
    <li><a href="{{post.url}}">{{post.data.title}}</a></li>
  {%- endfor -%}
  </ul>
</div>
