<div style="border: 3px solid green;">
  <h3>Insta</h3>
  <p>TODO:// Slider?????</p>
  {% image 'src/assets/img/minion.jpeg','', "(max-width: 1em) 10vw, 20vw" %}
  {%- for post in collections.insta -%}
    {{post.url }}
  {%- endfor -%}
</div>

<div style="border: 3px solid red;">
  <h3>Posts</h3>
  <p>TODO:// List</p>
  {%- for post in collections.post -%}
    {{post.url }}
  {%- endfor -%}
</div>

<div style="border: 3px solid yellow;">
  <h3>Nasa apod</h3>
  <p>TODO:// image, styling</p>
  {%- for post in collections.post -%}
    {{post.url }}
  {%- endfor -%}
</div>

