@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props";

.media-slider::-webkit-scrollbar {
  width: 2em;
  height: 1.2em;
}

.media-slider::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 100vw;
}

.media-slider::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 100vw;
}

.media-slider::-webkit-scrollbar-thumb:hover {
  background: gray;
}

.media-slider {
  /*min-height: 200px;*/
  display: grid;
  gap: var(--size-3);
  grid-auto-flow: column;
  grid-auto-columns: 15%;
  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior-inline: contain;
  padding-bottom: 20px;
}

.media-element {
  display: grid;
  /*width: 220px;*/
  /*padding: var(--size-1);*/
  /*padding-left: 20px !important;*/
  gap: var(--size-2);
  grid-template-rows: min-content;
  box-shadow: var(--shadow-3);
  border-radius: 10px;
  background: var(--surface-2);
}
.media-element > img {
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}
.snaps-inline {
  scroll-snap-type: inline mandatory;
}
.snaps-inline > * {
  scroll-snap-align: start;
}

