@import "https://unpkg.com/open-props";
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Oxygen:wght@300&family=Roboto:wght@300&display=swap');

body {
  background: #f3f6dc;
}
main {
}

h5 {
  font-family: Oxygen, Lora;
}
.card {
  font-size: 2em;
  border-radius: var(--radius-2);
  padding: var(--size-fluid-3);
  box-shadow: var(--shadow-2);


  &:hover {
    box-shadow: var(--shadow-3);
  }

  @media (--motionOK) {
    animation: var(--animation-fade-in);
  }
}
.container-slide {
  inline-size: min(100% - 4rem, 70rem);
  margin-inline: auto;
}

.media-scroller {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 25%;

  overflow: x;
  overscroll-behavior: inline contain;
}
.media-element {
  padding: var(--size-3);
  background: var(--surface-2);
}
